*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(https://cdn.pixabay.com/photo/2022/07/12/10/15/sunflowers-7316998_960_720.jpg);
}
.App{
  
  text-align: center;
  padding: 1rem;
  width: 500px;
  height: 100vh;
  margin: auto;
}
.App>h1{
  color: white;
  font-size: 3rem;
}
.accordion{
  border: 2px solid red;
  padding: 1rem;
  background-color:darkkhaki ;
}
.container{
  border: 2px solid green;
  margin-bottom: 1rem;
}
.questionContainer{
  border: 2px solid orange;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.close:hover{
  cursor: pointer;
  color: red;
}

.open:hover{
  cursor: pointer;
  color: green;
}
.answer{
  background-color: aquamarine;
  text-align: justify;
  padding: 1rem;
}